* {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

h3  {
    color:aqua;
}

.kub {
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 0 auto;
    padding-top: 50px;
}

.white {
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin: 0 auto;
}

.eyes {
    display: inline-flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 200px;
    background-color: white;
}

.eyes div {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: white 1px solid;
    border-radius: 100%;
}

.mouth {
    width: 100px;
    height: 30px;
    background-color: aqua;
    margin: 50px auto 0 auto;
    border: white 1px solid;
    border-radius: 50%;
}

.mouth:hover {
    box-shadow: 0 0 30px red;
}

.gz {
    width: 200px;
    height: 700px;
    background-color: #fff;
    margin: 20px auto;
    position: relative;
}

.wt {
    width: 700px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    right: -250px;
    top: 100px;
}